@import url('https://fonts.googleapis.com/css2?family=Lilex:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Lilex:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lilex','Alegreya SC';
}

body{
    background-color: rgb(213, 209, 209);
    height: 10vh;
    display: block;
}

header{
    background-color: #8B0000;
    height: 10vh;
} 

main{
    background-color:  rgb(202, 202, 202);
    min-height: 82vh;
    h1{
        display: flex;
        padding-top: 3.1rem;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        color: rgb(163, 28, 28);
    }
    p{
        padding-top: 40px;
    }
}

footer{
    background-color: #8B0000;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

img{
    padding: 0;
    margin: 20px;
    border: 0.1px solid black;

    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 20%;
    height: 10%;
}
