main {
    div{
        width: 100%;
        padding-top: 20px;
    }
    form{
        background-color: rgba(7, 14, 9, 0.21);
        padding: 10px;
        margin: auto;
        width: fit-content;
        border-radius: 8px;
        justify-content: center;

        input, select{
            padding: 10px;
            font-size: 1.2em;
            min-width: 390px;
        }
    }
}