nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    h1{
        color: rgb(255, 255, 255);
        margin: 0 auto auto;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    div{
        background-color: rgb(114, 0, 0);
        display: flex;
        justify-content: flex-start;
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        min-height: 1.9vh;
        width: 100%;

        a{
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            font-weight: 400;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}